* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

.side {
	width: 4.16vw;
}

.contactSide {
	width: 0;
}

.between {
	width: 8.33vw;
}

.col-2 {
	width: 16.67vw;
}

.col-3 {
	width: 25vw;
}

.col-4 {
	width: 33.33vw;
}

.col-5 {
	width: 41.67vw;
}

.col-6 {
	width: 50vw;
}

.col-7 {
	width: 58.33vw;
}

.col-8 {
	width: 66.67vw;
}

.col-9 {
	width: 75vw;
}

.col-10 {
	width: 83.33vw;
}

.col-11 {
	width: 91.67vw;
}

.col-12 {
	width: 100vw;
}

body {
	margin: 0px;
	font-family: Helvetica;
	background-image: url(../img/trees.jpg);
	background-size: cover;
	background-attachment: fixed;
	overflow-y: hidden;
}

#slogan {
	height: 81vh;
	display: table;
	position: absolute;
}

#actualSlogan {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 11vh;
	font-family: Brush Script MT;
	text-shadow: 2px 2px black;
}

#header {
	height: 8vh;
	display: table;
	border-bottom: 1px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: black;
}

#contactLink, #merchLink, #webDevLink {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: rgba(255,255,255,.75);
}

#joshbriand, #navSpacer {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-family: Brush Script MT;
	font-size: 3.5vh;
	padding-left: 25px;
	background: rgba(255,255,255,.75);
}

#slideTitles {
	display: table;
}

#content {
	text-align: center;
	font-size: 2.5vh;
	background: rgba(255,255,255,.75);
	border-color: black;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	flex-wrap: wrap;
	max-height: 65vh;
	min-height: 20px;
	overflow-y: scroll;

}

#spacer {
	height: 8vh;
}

#mobileSpacer {
	display: none;
}


#webDevContent, #merchContent, #contactContent {
	display: none;
	max-height: 65vh;
	min-height: 20px;
	overflow: scroll;
	align-items:flex-start;
  align-content:flex-start;
}

#webDev, #merch, #contact {
	display: none;
	height: 8vh;
	vertical-align: middle;
	text-align: center;
	background: rgba(255,255,255,.75);
}

h2 {
	font-size: 3vh;
}


@media screen and (min-width: 736px) and (orientation: landscape) {
	.side {
		width: 3.125vw;
	}
	.contactSide {
		width: 27.085vw;
	}
}

@media screen and (orientation: portrait) {
	#siteContent {
		width: 100vw;
		height: 100%;
	}
	#header {
		height: 150px;
	}
	#joshbriand {
		display: table-row;
		font-size: 3vh;
		width: 100%;
		text-align: center;
	}
	#contactLink, #merchLink, #webDevLink {
		display: table-row;
	}
	h2 {
		font-size: 2vh;
	}
	#webDevContent, #merchContent, #contactContent {
		width: 100vw;
		overflow: scroll;
		max-height: 65vh;
	}
	#mobileSpacer {
		display: flex;
		height: 30px;
	}
	#spacer {
		height: 30px;
	}
	#actualSlogan {
		font-size: 170px;
		width: 100vw;
	}
	.side {
		width: 5vw;
	}
	#content {
		width: 80vw;
	}
	body {
		position:fixed;
		height: auto;
	}
}
